@import url(../ICONN/fontawesome-free-6.1.2-web/fontawesome-free-6.1.2-web/css/all.css);

.html,body{
    padding: 0px;
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color:rgb(4, 4, 243);
}

@media (min-width:1200px) {
    .fa-bars{
        display: none;
    }
}

@media(max-width:1200px){
    .hide{
        display: none;
    }
    .fa-bars{
        display: inherit;
    }
    .hide4{
        display: none;
    }
    .hide7{
        display: none;
    }
}
@media(max-width:958px){
    .hide2{
        display: none;
    }
    .hide4{
        display: inherit;
    }
    .hide7{
        display: none;
    } 
}
@media(max-width:468px){
    .hide3{
        display: none;
    }
    .hide7{
        display: inherit;
    }
}
.fa-bars{
    background-color: transparent;
    border: none;
}
.fa-bars:focus .sidebar{
    display: block;
}
.fa-bars .sidebar{
    width: 30%;
    height: 94vh;
    overflow: scroll;
    background-color: white;
    box-shadow: 0px 0px 2px black;
    position: absolute;
    left: 0px;
    top: 60px;
    display: none;
}
.sidebar div{
     margin-top: 40px;
}
